<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
    <a href="index.html" class="navbar-brand ps-5 me-0">
        <h1 class="text-white m-0">Globalist Market</h1>
    </a>

    <button
        type="button"
        class="navbar-toggler me-0"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="products.html" class="nav-item nav-link">Products</a>
            <a href="FAQ.html" class="nav-item nav-link">FAQ</a>
        </div>

        <a href="contact.html" class="btn btn-gm px-3 d-none d-lg-block">
            Contact Us
        </a>
    </div>
</nav>
<!-- Navbar End -->
 
<!--<nav class="navbar">
    <!-- Existing Navbar Code --
    <!-- Navbar Start --
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
        <a href="index.html" class="navbar-brand ps-5 me-0">
            <h1 class="text-white m-0">Globalist Market</h1>
        </a>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <a href="about.html" class="nav-item nav-link">About</a>
                <a href="products.html" class="nav-item nav-link">Products</a>
                <a href="FAQ.html" class="nav-item nav-link">FAQ</a>
            </div>
            <a href="contact.html" class="btn btn-gm px-3 d-none d-lg-block">Contact Us</a>
        </div>
    </nav>
    <!-- Navbar End --
</nav> -->